* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --white: #ffffff;
  --red-hat: "Red Hat Display", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
  background-size: contain;
  display: flex;
  justify-content: center;
  font-family: var(--red-hat);
  align-items: center;
  padding: 50px 0;
}

main {
  width: 450px;
  max-width: 90%;
  background-color: var(--white);
  border-radius: 16px;
}

.image img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.content {
  background-color: var(--white);
  padding: 40px 48px;
  border-radius: 0px 0px 16px 16px;
}
.hero-text {
  text-align: center;
}
.hero-text h1 {
  font-weight: 900;
  color: var(--dark-blue);
}
.hero-text p {
  color: var(--desaturated-blue);
  margin: 20px 0 18px;
}
.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 12px;
  padding: 24px;
}
.plan a {
  color: var(--bright-blue);
  font-size: 14px;
  font-weight: 900;
}
.price {
  display: flex;
  align-items: center;
  gap: 16px;
}

.annual h3 {
  color: var(--dark-blue);
}
.annual p {
  font-size: 14px;
  color: var(--desaturated-blue);
}

.btn {
  margin-top: 24px;
}
.btn button {
  width: 100%;
  padding: 16px 8px;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.btn button:first-child {
  background-color: var(--bright-blue);
  color: var(--white);
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: 1px 19px 56px -14px rgba(56, 41, 224, 0.75);
}

.btn button:nth-child(2) {
  background-color: transparent;
  color: var(--desaturated-blue);
}

@media screen and (max-width: 500px) {
  .content {
    padding: 40px 30px;
  }
  .plan {
    padding: 18px;
  }
  .annual h3 {
    font-size: 16px;
  }
}
